*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans serif;
    width: 100%;
    min-height: 60vh;
    display: grid;
    place-items: center;
}
.container{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px 30px;

}
.container, .left{
    overflow: hidden;
} .container, .left, img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container, .right{
    display: flex;
    align-items: center;
}
.container, .right, .row{
    padding-left: 20px;
}
.container, .right, .row, p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
@media (max-width: 991px){
    .container, .right, .row{
        padding: 0;
    }
}
@media (max-width: 768px){
    .container{
        width: 90%;
        grid-template-columns: 1fr;
    }
}

